.scrollTop {
  position: fixed;
  width: 10%;
  bottom: 110px;
  right: -20px;
  align-items: self-start;
  height: 20px;
  justify-content: flex-start;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.75;
  color: var(--secondary-color);
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: 2.75rem;
}

.scrollTop:hover {
  opacity: 1;
  color: var(--tertiary-color);

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@media (max-width: 768px) {
  .scrollTop {
    width: 15%;
    bottom: 80px;
    right: -10px;
    height: 20px;
  
  }
}

@media (max-width: 576px) {
  .scrollTop {
    width: 20%;
    bottom: 60px;
    right: -10px;
    height: 20px;
   
  }
  .scrollTop:hover {
    opacity: 1;
  }
}


