.skills__container {
  width: 100%;
  margin: 1.5rem auto;
  padding-top: 1rem;
  border-top: 1px solid var(--quinary-color);
  border-bottom: 1px solid var(--quinary-color);
}

.skills__title {
  margin: 1rem 0;
}

.skills__list {
  margin-bottom: 1.5rem;  
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .skills__container {
    width: 90%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    margin: 1.4rem;
  }
  .skills__title {
    margin: 1rem 0;
  }
  .skills__list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

  }

  
}

