@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Lobster&family=Rajdhani:wght@700&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

}

.site-logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: clamp(1.75rem, 8vw, 2.5rem);
  font-weight: var(--font-semi-bold);
  margin: 0;
}

/* LOGO  */
.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}

.header-link {
  display: none;

  color: #171616;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  transition: 0.5s;
  line-height: 2rem;
  opacity: 0.8;
  margin: 0;
}

.rollout-nav a:hover {
  cursor: pointer;
  opacity: 1;
}

.nav-closed {
  display: none;
}

.header-container.is-portfolio .header-link{
  display: block;
  
}