header {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.site-logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: clamp(1.75rem, 8vw, 2.5rem);
  font-weight: 400;
  margin: 0;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}

.header-link {
  display: none;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  transition: 0.5s;
  line-height: 2rem;
  opacity: 0.8;
  margin: 0;

}

.header-link:hover {
  opacity: 1;
  border: 0.1rem solid var(--tertiary-color);
  padding: .5rem;
  border-radius: 3px;
}

.header-link:active {
  opacity: 1;
}

.header-link.is-active {
  opacity: 1;
}

.header-container.is-portfolio .header-link{
  display: block;
}

.header-container.is-portfolio .header-link.is-active {
  border: 0.1rem solid var(--tertiary-color);
  padding: .5rem;
  border-radius: 3px;
}

.header-link-pic {
  display: none;
}

.header-link-pic i {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--secondary-color);
  opacity: 0.8;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }

  .site-logo_container {
    width: 100%;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .header-container.is-portfolio .header-link {
    display: none;
  } 

  .header-container.is-portfolio .header-link-pic {
    display: block;
    text-decoration: none;
  }

}