@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Lobster&family=Rajdhani:wght@700&display=swap");

header {
  width: 100%;
  height: auto;
  font-family: var(--fira-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--fs-base);
  color: var(--text-color);

  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 0;

  /* VYRESIT POZICOVANI AZ TOHO BUDE NA STRANCE VICE - ZATIM NEVIM JAK */
  
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; */
 
  border: 2px solid red;
}

.header-title {
  font-size: clamp(1.75rem, 8vw, 2.5rem);
  font-weight: var(--font-semi-bold);
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  height: 15vh;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: rgb(21, 21, 21);
  margin: 0 auto;
  padding: 0rem 0 0 0;
}

.container {
  width: 100%;
  display: grid;
  left: 1rem;
  top: 1.5rem;
}

.header-title {
  line-height: 1;
  text-align: start;
  margin: -15rem;
  padding: 0;
}

/* NAVIGATION - menu */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rollout-nav {
  z-index: 10;
  padding: 10px;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* menu hamburger */
.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background-size: contain;
  cursor: pointer;
  color: #121111;
  background-color: transparent;
  margin-top: 1rem;
  margin-right: 1rem;
}

.rollout-nav a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;

  transition: 0.5s;
  line-height: 2rem;
  opacity: 0.5;
  margin: 0;
}

.rollout-nav a:hover {
  cursor: pointer;
  opacity: 1;
}

.nav-closed {
  display: none;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rollout-nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    background: transparent;
  }

  .rollout-nav a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    margin: 1rem;
  }

  .rollout-nav a:hover {
    border-bottom: 1.75px solid #0d2dbe;
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
  }

  .nav-btn {
    display: none;
  }
}
