.project__container {
  width: 100%;
  margin: 1.5rem auto;
  padding-top: 1rem;
  border-top: 1px solid var(--quinary-color);
}

.project__list {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.project__link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 900;
}

/* active link for hover and active animation */
.project__link:hover,
.project__link:active {
  color: var(--secondary-color);
  animation: linkAnimation 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .project__container {
    width: 90%;
    margin: 1.4rem;
    color: var(--primary-color);
  }
  .project__list {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
}
