/* FOOTER */

.footer-title,
.footer-text,
.footer-link {
  font-size: 100%;
}

.footer-text {
  text-align: center;
}

.footer-link {
 text-align: right;
}

.footer-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
}

.footer-link a:hover,
.footer-link a:active {
  color: var(--secondary-color);
  animation: linkAnimation 0.5s ease-in-out;
}

.footer-container {
  margin-top: auto;
}