.footer-container.row {
 
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;

  border: 1px solid black;
}

.footer-title {
  color: var(--secondary-color);
}


.footer-text {
  text-align: center;
} 

.footer-contact {
  text-align: right;
} 

.footer-contact a,
.footer-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
}

.footer-contact a:hover,
.footer-link:hover {
  color: var(--tertiary-color);
}

.footer-container {
  margin-top: auto;
}
