@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Lobster&family=Rajdhani:wght@700&display=swap");

footer {
  width: 80%;
  height: auto;
  font-weight: var(--font-light);
  color: var(--text-color);
  margin: 0 auto;
  /* padding: 0.5rem 0 0.5rem 0; */

  /* pozor na to, pokud tam bude vice textu / nastavit jinak */
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; */
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
   align-items: center;
  justify-items: center; 
  justify-content: space-between;
  
}

/* Title - FL, CZechitas... */
.footer-title,
.footer-text,
.footer-link {
  /* align-items: space-between; */
  font-size: 100%;
 
}


@media (max-width: 768px) {
  .footer-container {
    width: 100%;
  }

  .footer-title {
    font-size: 100%;
  }

  .footer-text {
    font-size: 80%;
  }
}
