@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Lobster&family=Rajdhani:wght@700&display=swap");


/* Title - FL, CZechitas... */
.footer-title,
.footer-text,
.footer-link {
  /* align-items: space-between; */
  font-size: 100%;
}

.footer-text {
  text-align: center;
}

.footer-link {
 text-align: right;
}

.footer-container {
  margin-top: auto;

  


}