.portfolio-container{
    color: black;
    /* display: grid; */
    /* grid-template-rows: repeat(3, 1fr) ; */
    width: 80%;
    height: auto;
    margin: 0 auto;


    border: 2px solid rgb(255, 179, 0);
}

.portfolio-item {
    border: 10px solid rgb(0, 17, 255);
    margin: 0;

}