/* normalize css */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Lobster&family=Rajdhani:wght@700&display=swap");

/* primary - font - black*/
/* secondary and tertiary - btn, a, i - hover - dark blue and dark pink. magenta...*/

/* quaternary and quinary - lines, borders light blue */

:root {

  --primary-color: hsl(0, 3%, 8%);
  --secondary-color: hsl(221, 94%, 47%);
  --tertiary-color: hsl(285, 81%, 55%);
  --quaternary-color: hsl(285, 100%, 94%);
  --quinary-color: hsl(221, 100%, 94%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  color: var(--primary-color);
  font-family: "Fira Code", monospace;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: clamp(1.75rem, 8vw, 2.5rem);
}

h3 {
  font-size: clamp(1.75rem, 10vw, 3.5rem);
  line-height: 1;
}

h4 {
  font-size: clamp(1.1rem, 10vw, 2.5rem);
  line-height: 1;
}

figure {
  margin: 0;
}

.main-box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--primary-color);
 
}