.article-box {
  width: 90%;
  height: auto;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: inherit;
  line-height: 1.5;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text {
  width: 100%;
  height: auto;
  margin-bottom: 1.75rem;
}

.text p {
  text-align: justify;
  hyphens: none;
  margin-top: 20px;
}

strong {
  color: var(--secondary-color);
  font-size: 1.15rem;
}

.article-contact {
  color: var(--secondary-color);
  font-size: 1.15rem;
}

.article-contact:hover {
  color: var(--tertiary-color);
}

.article-contact:active {
  color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .article-box {
    width: 80%;
  }
}


