/* HOME PAGE */

/* ARTICLE - about project */
.article-box {
  width: 80%;
  height: auto;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--text-color);
  position: inherit;
  line-height: 1.5;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text {
  width: 100%;
  height: auto;
  margin-bottom: 1.75rem;
}

.text p {
  font-size: var(--font-size);
  text-align: justify;
  hyphens: none;
  margin-top: 20px;
}

strong {
  color: var(--secondary-color);
}


.home-button {
  position: fixed;
  right: 40px;
  bottom: 100px;
  background: transparent;
  border: none;
  color: var(--secondary-color);
  transition:  all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;

}

.home-button i {
  font-size: 3rem;
}

.home-button:hover {
  cursor: pointer;
}

.home-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .article-box {
    width: 90%;
  }

  .home-button {
    right: 20px;
    bottom: 20px;
  }

}





